Repository pnu-code-place/code-place, pull requests merged in 2024-08, with the labels that each got.

#169 158 공시사항 목록 및 공지사항 상세 페이아웃 고도화
  frontend/src/i18n/oj/en-US.js
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/contest/ContestHistory.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/general/HomeStatistics.vue
  frontend/src/pages/oj/views/home/HomeFamilySiteBanner/HomeFamilySiteBanner.vue
  frontend/src/pages/oj/views/home/HomeProblemRecommendationBox.vue
  frontend/src/pages/oj/views/home/HomeRankingBox.vue
  frontend/src/pages/oj/views/home/HomeStatistics/HomeLanguages.vue
  frontend/src/pages/oj/views/home/HomeStatistics/TotalProblems.vue
  frontend/src/pages/oj/views/home/Notice/HomeNoticeBox.vue
  frontend/src/pages/oj/views/home/Notice/HomeNoticeItem.vue
  frontend/src/pages/oj/views/notice/AnnouncementDetail.vue
  frontend/src/pages/oj/views/notice/AnnouncementItem.vue
  frontend/src/pages/oj/views/notice/Announcements.vue
  frontend/src/pages/oj/views/notice/Notice.vue
  frontend/src/pages/oj/views/problem/problemList/problemListComponent/ProblemListTableHeader.vue
  frontend/src/pages/oj/views/rank/ACMRank.vue
  frontend/src/pages/oj/views/setting/ChangePassword.vue
  frontend/src/pages/oj/views/setting/UserSetting.vue
  frontend/src/pages/oj/views/user/userhome/UserCard.vue
  frontend/src/pages/oj/views/user/userhome/sections/communitySection/CommunitySection.vue
  frontend/src/pages/oj/views/user/userhome/sections/dashboardSection/DashboardSection.vue
  frontend/src/pages/oj/views/user/userhome/sections/problemSection/ProblemSectionList.vue
  frontend/src/utils/time.js
  frontend/src/utils/utils.js
Labels: frontend-admin

#170 158 공시사항 목록 및 공지사항 상세 페이아웃 고도화
  frontend/src/i18n/oj/en-US.js
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/components/LogoButton.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/home/HomeRankingBox.vue
  frontend/src/pages/oj/views/home/HomeStatistics/HomeLanguages.vue
  frontend/src/pages/oj/views/setting/LegacySettings.vue
  frontend/src/pages/oj/views/setting/UserSetting.vue
  frontend/src/pages/oj/views/setting/index.js
Labels: frontend-client

#177 171 대회와 문제풀이 qa
  frontend/src/pages/admin/views/problem/AddPublicProblem.vue
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/home/HomeProfileBox.vue
  frontend/src/pages/oj/views/home/Notice/HomeNoticeItem.vue
  frontend/src/pages/oj/views/problem/problemList/problemListComponent/ProblemListTable.vue
  frontend/src/pages/oj/views/rank/UserRank.vue
  frontend/src/pages/oj/views/setting/UserSetting.vue
  frontend/src/pages/oj/views/user/Register.vue
  frontend/src/pages/oj/views/user/userhome/UserCard.vue
  frontend/src/pages/oj/views/user/userhome/sections/dashboardSection/FieldSummary.vue
  frontend/src/utils/constants.js
Labels: frontend-admin, frontend-client

#178 #171 [FE] 대회와 문제풀이 qa
  frontend/src/pages/admin/views/problem/AddPublicProblem.vue
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/views/home/HomeFamilySiteBanner/FamilySiteContent.vue
  frontend/src/pages/oj/views/home/HomeFamilySiteBanner/HomeFamilySiteBanner.vue
  frontend/src/pages/oj/views/home/HomeProfileBox.vue
  frontend/src/pages/oj/views/problem/problemList/problemListComponent/ProblemListTable.vue
  frontend/src/styles/markdown.less
Labels: frontend-admin, frontend-client

#190 #188 버그 및 불편사항 제보 링크 달기
  frontend/src/assets/icon_bug.png
  frontend/src/i18n/oj/en-US.js
  frontend/src/pages/oj/views/general/CSEPFooter.vue
Labels: frontend-client

#191 #171 [FE] 대회와 문제풀이 qa
  frontend/src/pages/oj/views/user/Register.vue
Labels: frontend-admin, frontend-client

#198 #171 [FE] 대회와 문제풀이 qa
  frontend/src/i18n/oj/en-US.js
  frontend/src/pages/oj/views/general/CSEPFooter.vue
  frontend/src/pages/oj/views/user/userhome/SideNavBar.vue
Labels: frontend-admin, frontend-client

#203 #202 대회 상세 페이지 수정
  frontend/src/i18n/oj/en-US.js
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/contest/SideNavBar.vue
  frontend/src/pages/oj/views/contest/children/Overview.vue
  frontend/src/pages/oj/views/contest/children/SubmissionList.vue
  frontend/src/pages/oj/views/contest/index.js
  frontend/src/store/modules/contest.js
Labels: frontend-client
