Repository pnu-code-place/code-place, pull requests merged in 2024-09, with the labels that each got.

#219 #211 관리자 페이지에 대회 관리 제출물 관리 페이지 구현
  backend/judge/dispatcher.py
  frontend/src/i18n/admin/en-US.js
  frontend/src/pages/admin/api.js
  frontend/src/pages/admin/components/Pagination.vue
  frontend/src/pages/admin/index.js
  frontend/src/pages/admin/router.js
  frontend/src/pages/admin/views/contest/ContestList.vue
  frontend/src/pages/admin/views/contest/ContestSubmission.vue
  frontend/src/pages/admin/views/index.js
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/views/contest/children/ACMContestRank.vue
  frontend/src/pages/oj/views/contest/children/OIContestRank.vue
Labels: frontend-admin

#225 204 feat코드미러 고도화
  frontend/src/styles/github-light.css
Labels: frontend-client

#227 226 bugfix 마이페이지 디버깅
  frontend/src/pages/oj/views/rank/majorRank/MajorRankItem.vue
  frontend/src/pages/oj/views/user/userhome/UserCard.vue
  frontend/src/pages/oj/views/user/userhome/UserHome.vue
Labels: frontend-client

#230 fix: API 엔드 포인트 위치 변경
  backend/contest/urls/oj.py
Labels: bug

#232 #231 bugfix smtp 발송 시 유저 이름을 파싱할 수 없는 문제
  backend/account/views/oj.py
  backend/utils/constants.py
Labels: bug

#240 #237 대회 상세 페이지 UI 변경
  frontend/src/i18n/oj/en-US.js
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/contest/children/ACMContestRank.vue
  frontend/src/pages/oj/views/contest/children/ContestProblemList.vue
  frontend/src/pages/oj/views/contest/children/OIContestRank.vue
  frontend/src/store/modules/contest.js
Labels: frontend-client
